<div class="landing">

    
    <div class="landing-texts">
        <h3 >
            GitHub <span>Users</span> and <span>Repositories</span> Search <span>Application</span>.
        </h3>
        
        <h6>This is an application that shows you specific users and their repositories on seaching their name</h6>
    </div>
    <br>

<div class="d-flex bd-highlight images">
    <div class="p-2 flex-fill bd-highlight"><div class="image1">
        <img id="im1"src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGVjaG5vbG9neXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="github url">
        <h4>Welcome github App</h4>
    </div></div>
    <div class="p-2 flex-fill bd-highlight"><div class="image2">
        <img id="im1" src="https://images.unsplash.com/photo-1550751827-4bd374c3f58b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fHRlY2hub2xvZ3l8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="developer">
        <h4>Connect with different users</h4>
    </div></div>
    <div class="p-2 flex-fill bd-highlight">
        <img id="im1" src="https://images.unsplash.com/photo-1620712943543-bcc4688e7485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTA0fHx0ZWNobm9sb2d5fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="developer">
        <h4>Fork and improve different projects</h4>
    </div>
  </div>
<div class="bottom">
    <h1>We bring nothing but the best</h1>
</div>
  

</div>

