span{
    color:skyblue;
}
.landing-texts{
    position:absolute;
    left:50%;
    transform:translateX(-50%) ;
    margin-top: 4rem;
}
h3{
    font-size: 35px;
    font-weight: 700;
}
.landing{
    display:flex;
    flex-direction: column;
}
.images{
    position: relative;
    top:15rem;
}

#im1{
    height: 10rem;
    width:20rem;
    border-radius: 30px;
}
.bottom{
    position:relative;
    margin-top:28rem;
    text-align: center;
    
}
h1{
    font-size: 60px;
    color: blueviolet;
}